* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
html {
}

body {
  background-image: url(/379126.jpg);
  display: flex;
  height: 100vh;

  font-family: monospace;

  height: 100vh;
  align-items: center;
}

#bg2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

pre {
  color: whitesmoke;
  font-size: 20px;

  padding: 40vh;
  font-family: "lato";
  font-style: italic;

  word-spacing: 2px;
}
